paperclips.html
paperclips_files/apple_badge.svg
paperclips_files/combat.js
paperclips_files/globals.js
paperclips_files/google_badge.svg
paperclips_files/interface.css
paperclips_files/main.js
paperclips_files/mobile-title.png
paperclips_files/projects.js
paperclips_files/scrap
